body{
    background-color: white;
    margin: 0%;
    font-family: "Roboto", sans-serif;
}
#nav-bar{
    background-color: aliceblue;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    position: sticky;
  top: 0;
}
#logo{
    width: 20%;
    text-align: center;
  
}
#logo h1{
    color: #FF6900;
    margin: 0%;
}
#nav-menu{
  
    width: 50%;
}
#signinmenu{
    padding-right: 4%;
    width: 30%;
}
#nav-menu ul, #signinmenu ul{
    padding: 0%;
    text-align: center;

}
#nav-menu ul li, #signinmenu ul li{
    list-style-type: none;
    display: inline;
    

}
#nav-menu ul li a,  #signinmenu ul li a{
   color: black;
   text-decoration: none;
   padding: 14px;
   font-weight: bold;

}
#nav-menu ul li  :hover , #signinmenu ul li :hover{
    color: #4826C2;
    border-bottom: 5px solid #FF6900;
   
}

#nav-menu ul li a :hover , #signinmenu ul li a :hover{
    border-bottom: none;
   
}

#belownav-bar{
    display: flex;
    justify-content: center;
    padding: 40px;
    
}
#searchbar{
    width: 40%;
}

#searchbar input{
    padding: 13px 20px;
    width: 130%;
    border: 5px solid #FF6900;
}
#searchbtn {
    padding-top: 10px;
}
